ClientsScraper.json
{
  "name": "ClientsScraper",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead Hunter",
        "formDescription": "Enter your niche to find potential clients",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Niche",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Real Estate"
                  },
                  {
                    "option": "E-Commerce"
                  },
                  {
                    "option": "Coaching"
                  },
                  {
                    "option": "Agency"
                  },
                  {
                    "option": "Small Business"
                  },
                  {
                    "option": "SaaS"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -112,
        -112
      ],
      "id": "9fa9512a-a0a1-4d45-89ae-507e9d39a2e0",
      "name": "LeadHunter",
      "webhookId": "77585c5f-b8fb-40f2-99fd-f657f548362c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Niche }}",
                    "rightValue": "Real Estate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8bc81545-d290-4770-9a4b-4777b767732c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Real Estate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c1863601-0693-437d-82d8-d812a4a3c018",
                    "leftValue": "={{ $json.Niche }}",
                    "rightValue": "E-Commerce",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "E-Commerce"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f4831bd8-f20d-44a8-817c-c17de4ad29b5",
                    "leftValue": "={{ $json.Niche }}",
                    "rightValue": "Coaching",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Coaching"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6b2e42f5-49c5-48e0-bb40-ebfb3b6d0b65",
                    "leftValue": "={{ $json.Niche }}",
                    "rightValue": "Agency",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agency"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "61778289-416a-4c15-b36e-db0b5a91d46c",
                    "leftValue": "={{ $json.Niche }}",
                    "rightValue": "SaaS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SaaS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8a34a49a-dd09-45de-8129-d1bb87b8cfe5",
                    "leftValue": "={{ $json.Niche }}",
                    "rightValue": "Small Business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Small Business"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        96,
        -112
      ],
      "id": "98e02a9b-2d39-4892-83ec-31081f32b221",
      "name": "NicheRouter"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/realestate+realtors/.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        352,
        -304
      ],
      "id": "ecb35d2c-fb9b-4ff0-9f9d-c51c765097e8",
      "name": "Real Estate SubReddit",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/dropship+FulfillmentByAmazon/.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        352,
        -192
      ],
      "id": "7967cbe6-081f-43ef-8f62-2019a1860c1e",
      "name": "Ecommerce SubReddit"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/Coaching+entrepreneur/.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        352,
        -64
      ],
      "id": "5236ecc8-c56d-457b-adb1-35337a05793f",
      "name": "Coaching SubReddit"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/agency+digitalmarketing/.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        352,
        48
      ],
      "id": "7fd83319-5adc-48a5-9588-18699130b915",
      "name": "Agency SubReddit"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/SaaS+startups/.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        352,
        160
      ],
      "id": "1c0d7990-b55b-4d47-8d8e-bd66bb954319",
      "name": "Saas SubReddit"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/smallbusiness+Entrepreneur/.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        352,
        272
      ],
      "id": "400ecf6d-e84e-4c10-a907-6210d1deaaa4",
      "name": "SmallBuisness SubReddit4"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        -96
      ],
      "id": "b0bc50e6-d83e-4b11-8850-8bfd6a9b3a81",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "GetSeenPosts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        -192
      ],
      "id": "9ebfb4bd-2712-41b9-befb-5235fb59d769",
      "name": "GetSeenPosts",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PoZe4MnCdsJRYREz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const existingRows = $('GetSeenPosts').all();\nconst seenUrls = existingRows.map(i => (i.json.url || '').trim().toLowerCase());\n\nreturn $input.all().map(item => {\n  const input = item.json;\n  \n  if (!input.link) return null;\n  \n  const currentUrl = input.link.trim().toLowerCase();\n  const isSeen = seenUrls.includes(currentUrl);\n  \n  return { json: { ...input, isSeen } };\n}).filter(item => item !== null);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -80
      ],
      "id": "496a1652-e7a5-467b-bcd8-78f093d53d16",
      "name": "CheckForSeenPosts",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3dd20178-613b-4f23-a2b6-f3cb0fad01a4",
              "leftValue": "={{ $json.isSeen }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1264,
        -80
      ],
      "id": "eb7d401d-d1f6-49b9-844d-36d9e09e73e6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "SeenPosts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.link }}",
            "seen": "true",
            "niche": "={{ $json.niche }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seen",
              "displayName": "seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        -240
      ],
      "id": "a13a8abc-6677-4435-a9e2-70d1e45b7bf4",
      "name": "AddNewPosts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PoZe4MnCdsJRYREz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1472,
        -64
      ],
      "id": "489d9508-f67e-4645-baec-a5208323d3db",
      "name": "LoopOverPosts"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71a0dc6c-43a8-473f-815b-cd6b71867458",
              "name": "niche",
              "value": "={{ $('NicheRouter').item.json.Niche }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -16
      ],
      "id": "74946ce8-8884-42c5-bba1-1b3e7577e6b6",
      "name": "AddedNiche"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawOutput = $json.text || $json.output || $json.content || '';\n\n// Find all {...} blocks in the raw output\nconst jsonBlockRegex = /\\{[\\s\\S]*?\\}/g;\nconst matches = rawOutput.match(jsonBlockRegex) || [];\n\nconst requiredFields = ['score', 'business_type', 'pain_point'];\n\n// Walk backward - the real answer is usually the last valid block,\n// since models sometimes echo schema/instructions before the actual output\nfor (let i = matches.length - 1; i >= 0; i--) {\n  try {\n    const parsed = JSON.parse(matches[i]);\n\n    const hasAllRequired = requiredFields.every(field =>\n      Object.prototype.hasOwnProperty.call(parsed, field)\n    );\n\n    if (hasAllRequired) {\n      // Basic type sanity check on score\n      const scoreNum = Number(parsed.score);\n      if (!isNaN(scoreNum) && scoreNum >= 1 && scoreNum <= 10) {\n        return {\n          json: {\n            ...$json,\n            score: scoreNum,\n            business_type: parsed.business_type || '',\n            pain_point: parsed.pain_point || '',\n            inferred: parsed.inferred === true,\n            niche_fit: parsed.niche_fit || '',\n            parse_error: false\n          }\n        };\n      }\n    }\n  } catch (e) {\n    // not valid JSON, try the next block backward\n    continue;\n  }\n}\n\n// Nothing valid found - fallback\nreturn {\n  json: {\n    ...$json,\n    error: true,\n    reason: 'parse_failed',\n    raw_output: rawOutput,\n    score: 0,\n    parse_error: true\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        160
      ],
      "id": "538ed0b7-08f9-4657-b9b8-ea8f8403443b",
      "name": "Parser"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2192,
        160
      ],
      "id": "c9a3a2fe-8b6a-464d-b292-777ae240f64f",
      "name": "Wait",
      "webhookId": "d9bef53f-703b-403c-ab88-8448e5f0d144"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29408538-1d9e-4e6d-8fb3-b1d9beecc83d",
              "name": "niche",
              "value": "={{ $('LoopOverPosts').item.json.niche }}",
              "type": "string"
            },
            {
              "id": "10f92f21-708d-4ab9-aaf1-b8b6ebe34461",
              "name": "link",
              "value": "={{ $('LoopOverPosts').item.json.link }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        160
      ],
      "id": "1d00186a-5812-4c45-b461-bd087f0cddea",
      "name": "NicheAndUrlAdder"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b71c0900-855b-46ac-9916-ef847195cacb",
              "leftValue": "={{ $json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1712,
        -176
      ],
      "id": "cdff2d74-33a5-4690-a94c-1f038abead87",
      "name": "FilterHighScorePosts"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subreddit: {{ $json.niche }}\nTitle: {{ $json.title }}\nContent: {{ $json.contentSnippet }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a lead qualification assistant scanning Reddit posts for people expressing frustration with manual, repetitive work in their business that automation could solve.  Given a post's title, content, and subreddit, output a JSON assessment.  CRITICAL: Check Step 0 FIRST before doing anything else.  If ANY Step 0 condition is true, output score 1-3 immediately  without proceeding to Steps 1-3. Do not rationalize exceptions.  ## Step 0 — Hard gates (check these BEFORE scoring anything)  If ANY of these are true, the post is disqualified: score 1-3, regardless of how frustrated the poster sounds.  - **No-solicitation flair or rule.** The post's flair or subreddit explicitly bans promotion/outreach (e.g. \"I will not promote,\" \"no self-promo,\" similar). Disqualify outright — this isn't a targeting judgment, it's a rule violation risk. - **No recurring task.** The post is about a one-time decision, a single event, or something that doesn't repeat (switching business entities, a single bad client interaction, choosing what product to launch, a legal/compliance question, an interpersonal/political dilemma). Frustration or stakes being high doesn't matter if the underlying thing isn't something they'd do over and over. - **Tool/app selection, not manual work.** The poster is choosing between existing software or asking \"does X app do Y\" — they already know they need software and are picking one. This is not an automation opportunity unless the post ALSO separately describes a manual task they'd do by hand regardless of which app they pick (e.g. \"and I still have to manually test every combination\" — that clause would be the actual pain point, not the app choice itself). - **Interpersonal/political problem.** The core issue is about how to talk to a person (a business partner, a client, an employee, a competitor) rather than a task that could be automated away. No software fixes an awkward conversation. - **No business framing.** Personal (non-business) complaints, unless explicitly framed as a business problem. - **Solution-sharing or case-study post.** Concrete signals this applies: past-tense framing throughout the post (\"we did,\" \"we implemented,\" \"we stopped,\" \"we found\"), a results/outcome summary or list of what was changed, phrases like \"here's what worked\" or \"here's what I did,\" or an edit/footer crediting a specific tool or method already used to solve the problem. If the post reads like a recap, case study, or \"here's how I fixed X\" writeup rather than a live, ongoing complaint, disqualify — score 1-3 — even if a manual/repetitive task is mentioned somewhere inside it. The poster is not looking for help; they already found their answer. - **Opinion/recommendation-seeking with no active pain.** The poster is asking the community for opinions, best practices, or recommendations, without describing an ongoing problem they're personally stuck in.  If a post has both a disqualifying element AND a genuine separate automatable task, score based only on the automatable part, and say so explicitly in niche_fit (e.g. \"the app choice itself isn't automatable, but the manual combination-testing they mention is\").  ## Step 1 — If it passes Step 0, infer business context  Infer the business type and domain from context clues (industry terms, tools mentioned, role implied, subreddit) — even if not explicitly stated.  ## Step 2 — Identify the actual manual task  Look beyond explicit complaints. Many posters describe a symptom (missed follow-ups, falling behind, feeling overwhelmed, \"spending all day on X\") without saying \"this is manual.\" Infer the underlying repetitive task — what are they actually doing by hand that leads to the outcome they're describing?  The task must be something a reasonable person would recognize as repeating on a regular cadence (daily, weekly, per-order, per-lead, per-promo, etc.) — not a single occurrence framed dramatically.  ## Step 3 — Score 1-10  - **1-3**: Disqualified by Step 0, OR venting with no actionable task, OR unrelated topic, OR promotional post. - **4-6**: A real recurring manual task exists, but signal is weak — no clear urgency, no clear decision-making authority, or the inference is a stretch that's only loosely supported by the text. - **7-8**: Explicit or clearly inferable complaint about time lost to a specific recurring task, and it sounds like the poster owns or runs the business (has authority to act on a fix). - **9-10**: Explicit ask for a tool/solution to a recurring task, OR a quantified cost tied to a repeating task (\"3 hours a day,\" \"every week,\" \"$X lost every month\").  ## Rules  - Personal (non-business) complaints score low unless explicitly framed as a business problem. - Posts asking \"does a tool exist for X\" score based on whether X itself is a recurring manual task, not just because a tool was asked about — see Step 0's tool/app-selection gate. - Ignore posts that are themselves ads, promotions, or tool recommendations from others (not the poster's own pain point). - Don't infer business ownership if not stated or strongly implied — a stated pain point without clear ownership caps at 6. - An inferred manual-work problem must be grounded in something actually written in the post. If the inference is a stretch, score 4-6 and say so in reasoning — don't force it to 7+. - When in doubt between disqualifying (Step 0) and scoring low (4-6), disqualify. False positives cost more than false negatives here — a wrong lead wastes outreach and risks rule violations; a missed lead just goes unanswered.  Output ONLY this JSON, nothing else, no markdown fences:  {\"score\": <1-10>, \"business_type\": \"<inferred domain/industry>\", \"pain_point\": \"<the specific manual/repetitive task, whether stated or inferred>\", \"inferred\": <true if pain point wasn't explicitly stated, false if it was>, \"niche_fit\": \"<why this matches the target niche, or why it was disqualified if score is 1-3>\"}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1808,
        48
      ],
      "id": "068fdb9a-9f6f-4084-ae34-906befb98ca2",
      "name": "RatingPosts",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post URL: {{ $json.link }}\nSubreddit/niche: {{ $json.niche }}\nPost title: {{ $json.title }}\nPost content: {{ $json.PostContent }}\nInferred business type: {{ $json.business_type }}\nPain point: {{ $json.pain_point }}\nWas this explicitly stated or inferred: {{ $json.inferred ? \"inferred\" : \"explicitly stated\" }}\nScore: {{ $json.score }}\nNiche fit: {{ $json.niche_fit }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are not a real person with a business history - don't invent one.\nSpeak from the position of someone who builds automation, period. No fake\nanecdotes, no fake past clients, no fake \"when I had X problem\" stories.\nYou write short, casual outreach messages to Reddit posters. You receive posts that a separate qualification agent has already scored and analyzed — use its output, don't re-derive it from scratch.  ## Inputs you'll receive - Post title, content, subreddit, URL - score (1-10) - business_type (inferred) - pain_point (the specific manual/repetitive task, stated or inferred) - inferred (true/false — whether the pain point was explicit in the post or inferred) - niche_fit (why it matches)  ## Step 1 — Set your posture based on score and inferred The judge agent only passes posts scoring 6+, so this is your real working range — don't treat it as the top of a 1-10 scale you never see the bottom of.  - score 9-10: poster explicitly wants a fix or named a quantified cost. Be direct, reference pain_point with confidence, automation mention is safe. - score 7-8: solid signal but not explicit ask. Reference pain_point, softened — naming a pattern, not confirming their words. Automation mention okay if it fits in one clause. - score 6: your weakest incoming signal, not a strong one — treat it like a \"mild\" tier. Do NOT assert the pain_point as fact. Frame it as a question. Default to NOT mentioning automation — just ask a genuine question and see if they engage. - If inferred is true, regardless of score: never state the pain_point as if they said it. Phrase it as \"sounds like...\" / \"is X actually...?\" / a light observation, not a diagnosis. - If inferred is false: you can reference their own words more directly, since they said it themselves.  ## Step 2 — Read the post type - Advice-seeking post (poster is asking the community a real question) → answer or acknowledge their actual question first. Don't skip straight to their pain and your pitch. - Vent/frustration post → acknowledge the frustration in one clause before anything else. Don't pivot cold. - Direct pain/complaint post → you can open straight on the specific detail.  ## Step 3 — Pick your hook Pull ONE concrete detail from the post itself (a number, phrase, specific behavior described) — not a summary of pain_point in your own words as the opener. pain_point tells you what to reference; the post's actual text tells you how to phrase it so it sounds read, not generated.  ## Step 4 — Decide whether to mention what you do Default: don't mention it. Only include a line about building automation if BOTH: - score is 7 or higher (score 6 = no mention, per Step 1) AND - you can fit it in one clause, mid-message, with no call to action attached  If score is 6, or the mention would need its own sentence to make sense, leave it out and just ask a genuine question instead. A message with no pitch is a valid output, not a failure.  ## Step 5 — Write it Priority-ordered rules (higher wins on conflict): 1. Open on the specific detail from Step 3 — no \"Hey, saw your post\" filler first 2. Never state an inferred pain point as confirmed fact 3. Automation mention (if included) is one clause, mid-message, never the closing line 4. End on a question about their situation, not a call/demo/next step 5. Sounds like one person typing a quick reply — contractions fine, imperfect rhythm fine 6. Under 5 sentences total 7. First person singular (\"I,\" never \"we\") 8. No emojis, no stacked punctuation, max one exclamation point and only if earned 9. Never use: streamline, leverage, game-changer, unlock, revolutionize, optimize, solution(s). Use plain verbs instead: fix, build, catch, handle, set up, sort out  ## Step 6 — Self-check before output - Would this message make sense sent to a random post in this subreddit? If yes, it's too generic — rewrite using a more specific detail. - Did you treat an inferred pain point as confirmed anywhere? If yes, soften it. - Is the automation mention (if present) buried mid-message, not the ending? - Any banned words present? - Does score/inferred combo match your posture (Step 1)?  ## Output format Output ONLY this JSON. No markdown fences, no commentary.  {\"link\": \"<post URL exactly as given>\", \"niche\": \"<subreddit exactly as given>\", \"message\": \"<the outreach message>\"}  ## Calibration examples  **Input:** score 9, inferred false, pain_point \"spending 3+ hrs/day manually replying to repeat WhatsApp questions, plus double-replies from sharing one phone with a part-time helper,\" post explicitly describes this.  **Good output message:** \"The double-reply thing from sharing one phone would drive me insane too — that's less a volume problem and more a visibility one. I've set up shared inboxes for a couple of small teams so two people stop stepping on each other. What's eating more of your day right now, the repeat questions or just the back-and-forth logistics?\"  ---  **Input:** score 5, inferred true, pain_point \"possibly manually testing discount/bundle combinations before promos,\" post is the poster asking the community for best practices, doesn't say they find it painful, just cautious.  **Good output message:** \"Automatic-only bundle discounts have saved me the most headaches — block codes on top or whitelist specific combos, rather than letting everything stack. Do you already test every combination by hand before a promo, or have you found a way around that yet?\"  (Note: no automation-service mention here — score is under 7, so Step 4 says leave it out.)"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2112,
        -208
      ],
      "id": "69f92c9e-2e34-4e83-9329-3bee4655c098",
      "name": "ColdDmWriter",
      "executeOnce": false
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2112,
        -48
      ],
      "id": "a1bd258f-bcca-4dcf-a40a-76991c2d574a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "FpwhHd9Md7FOyAwg",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "026cb27b-77b1-4103-97bd-54905f8c6a3d",
              "name": "score",
              "value": "={{ $('FilterHighScorePosts').item.json.score }}",
              "type": "number"
            },
            {
              "id": "d6c056d0-0742-4da1-917a-bbbfe21665ef",
              "name": "pain_point",
              "value": "={{ $('FilterHighScorePosts').item.json.pain_point }}",
              "type": "string"
            },
            {
              "id": "f422c016-0bcf-468b-a8ee-f9b4a93b3b55",
              "name": "inferred",
              "value": "={{ $('FilterHighScorePosts').item.json.inferred }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        -208
      ],
      "id": "e2508e64-cf41-4649-b737-5fab9ce9ecf2",
      "name": "GatherFinalInfo"
    },
    {
      "parameters": {
        "jsCode": "const requiredFields = ['link', 'message'];\nconst results = [];\n\n$input.all().forEach((item) => {\n  const rawOutput = item.json.text || item.json.output || item.json.content || '';\n  const jsonBlockRegex = /\\{[\\s\\S]*?\\}/g;\n  const matches = rawOutput.match(jsonBlockRegex) || [];\n\n  let found = false;\n\n  for (let i = matches.length - 1; i >= 0; i--) {\n    try {\n      const parsed = JSON.parse(matches[i]);\n      const hasAllRequired = requiredFields.every(f =>\n        Object.prototype.hasOwnProperty.call(parsed, f)\n      );\n\n      if (hasAllRequired && parsed.message && parsed.message.trim().length > 0 && parsed.link) {\n        results.push({\n          json: {\n            link: parsed.link.trim(),\n            niche: $('FilterHighScorePosts').first().json.niche || '',\n            message: parsed.message.trim(),\n            logged_at: new Date().toISOString(),\n            parse_error: false\n          }\n        });\n        found = true;\n        break;\n      }\n    } catch (e) {\n      continue;\n    }\n  }\n\n  if (!found) {\n    results.push({\n      json: {\n        error: true,\n        reason: 'parse_failed',\n        raw_output: rawOutput,\n        message: '',\n        parse_error: true\n      }\n    });\n  }\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -208
      ],
      "id": "5e9c223c-adf0-4003-8fbc-c2434b9004cf",
      "name": "Parser1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "1CbS64SjGPvMUqQg",
          "mode": "list",
          "cachedResultName": "LeadHunterLogReddit",
          "cachedResultUrl": "/projects/7Ia4EFAqyfWAkuU8/datatables/1CbS64SjGPvMUqQg"
        },
        "filters": {
          "conditions": [
            {}
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "inferred": true,
            "sent": false,
            "link": "={{ $json.link }}",
            "niche": "={{ $json.niche }}",
            "pain_point": "={{ $json.pain_point }}",
            "score": "={{ $json.score }}",
            "message": "={{ $json.message }}",
            "logged_at": "={{ $json.logged_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pain_point",
              "displayName": "pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "inferred",
              "displayName": "inferred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "logged_at",
              "displayName": "logged_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2768,
        -352
      ],
      "id": "54e2dfd0-b225-42ed-a714-672395a8712d",
      "name": "LogInfo"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🎯 **New Lead — {{ $json.niche }}**\n\n**Post:** {{ $json.link }}\n**Pain point:** {{ $json.pain_point }}\n**Score:** {{ $json.score }}/10 {{ $json.inferred ? '(inferred)' : '(explicit)' }}\n**Logged at:**{{ $json.logged_at }}\n**niche:**{{ $json.niche }}\n**Suggested message:**\n> {{ $json.message }}\n\n---",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2992,
        -208
      ],
      "id": "db09f035-454b-4898-bbc4-64259b8b7319",
      "name": "Discord",
      "webhookId": "2a6cd084-1a39-4a95-b9c5-3ae4bd3a4b83",
      "credentials": {
        "discordWebhookApi": {
          "id": "X1aOerlnOVaT0bqT",
          "name": "myserver"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1824,
        176
      ],
      "id": "5e7997fc-a4c6-45d5-8766-9b2cc752e5e8",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "FpwhHd9Md7FOyAwg",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abc64063-98af-4319-ab92-5b4560782ec6",
              "name": "PostContent",
              "value": "={{ $('If').item.json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "3b7415ee-1b78-4071-b9ca-190040340661",
              "name": "title",
              "value": "={{ $('If').item.json.title }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        -160
      ],
      "id": "a6d1daeb-1daf-4c55-93d5-c5279d038911",
      "name": "AddedContent"
    }
  ],
  "pinData": {},
  "connections": {
    "LeadHunter": {
      "main": [
        [
          {
            "node": "NicheRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NicheRouter": {
      "main": [
        [
          {
            "node": "Real Estate SubReddit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ecommerce SubReddit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coaching SubReddit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agency SubReddit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saas SubReddit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SmallBuisness SubReddit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Real Estate SubReddit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ecommerce SubReddit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Coaching SubReddit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Agency SubReddit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Saas SubReddit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "SmallBuisness SubReddit4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AddedNiche",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetSeenPosts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetSeenPosts": {
      "main": [
        []
      ]
    },
    "CheckForSeenPosts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "AddNewPosts",
            "type": "main",
            "index": 0
          },
          {
            "node": "LoopOverPosts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopOverPosts": {
      "main": [
        [
          {
            "node": "FilterHighScorePosts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RatingPosts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddedNiche": {
      "main": [
        [
          {
            "node": "CheckForSeenPosts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "NicheAndUrlAdder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "LoopOverPosts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NicheAndUrlAdder": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterHighScorePosts": {
      "main": [
        [
          {
            "node": "AddedContent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RatingPosts": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ColdDmWriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ColdDmWriter": {
      "main": [
        [
          {
            "node": "Parser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser1": {
      "main": [
        [
          {
            "node": "GatherFinalInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GatherFinalInfo": {
      "main": [
        [
          {
            "node": "LogInfo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LogInfo": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RatingPosts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AddedContent": {
      "main": [
        [
          {
            "node": "ColdDmWriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d9da36a1-5301-4840-ae7e-1b9841775382",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d02732c81716336476235c97efb52188caa99fc8b23d9d8fc1bf9045eb2d0a2"
  },
  "nodeGroups": [],
  "id": "0DEdLLo0itliIrsx",
  "tags": []
}